<!-- {% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>ICY</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
{% endblock %} -->
