{% extends 'base.html' %}
{% block title %}ICY Trips{% endblock %}
{% block content %}
    <h1>ICY Trips</h1>
    <div class="header">
        <div>
            <a href="{{ login_url }}">Login</a> | <a href="{{ signup_url }}">Signup</a>
        </div>
        <div class="create-trip-link">
            <a href="{% url 'create_trip' %}">Create a New Trip</a>
        </div>
    </div>
    <ul>
        {% for trip in trips %}
            <li>
                <h2>
                    <a href="{% url 'show_trip' trip.id %}">{{ trip.title }}</a>
                </h2>
                <img src="{{ trip.picture }}" alt="Trip Picture">
                <p>{{ trip.description }}</p>
                <p>{{ trip.location }}</p>
                <div>
                    <a href="{% url 'edit_trip' trip.id %}">Edit</a>
                    <form action="{% url 'delete_trip' trip.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
