@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1507608616759-54f48f0af0ee?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8dHJhdmVsfGVufDB8fDB8fHww');
    background-size: cover;
    background-position: center;
    color: black; /* Set text color to black */
    padding: 20px;
    word-wrap: break-word; /* Wrap text to prevent overflow */
}

header, footer {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 10px 20px; /* Add padding */
    text-align: center;
    margin: 20px 0; /* Add margin top and bottom */
    position: relative; /* Set position to relative */
}

img {
    width: 80%; /* Make all images fill their container */
    height: auto; /* Maintain aspect ratio */
    margin: 20px 0; /* Add margin top and bottom */
}

.create-trip-link {
    position: absolute; /* Set position to absolute */
    top: 10px; /* Align with the top of the header */
    right: 20px; /* Align with the right side of the header */
}
